.containerUCMajor {
  display: flex;
  width: 100%;
  min-height: 100vh;
  place-content: center;
  background-color: rgba(139, 139, 139, 0.307);
  padding: 7rem 0;
  /* esta clase dejala quieta  */
}
.table{
  max-width: 80vh;
}
thead tr {
  background-color: #73b57e;
  padding: .6rem;
  border-radius: 5px 5px 0 0;
}

tbody tr {
  background-color: #c3c3c3;
  border-radius: 0 0 5px 5px;
}

