@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
button{
    cursor: pointer;
    border: none;
}